.color {color:#E13A63;} 

.navcolor { background-color: #01181b;
			border-color: #01181b;
			 }

.inline{ display: inline-block; }
.marginalleft { margin-right: 10px; }
.marginalup{margin-bottom: 30px;}